// COLORS
$rusty-orenge: #e36209;
$slate-grey: #5c646d;
$brownish-grey: #666666;
$warm-grey: #999999;
$white: #ffffff;
$pale-grey: #e1e4e8;
$white-tow: #e3e3e3;
$slate-grey-two: #586069;

// BREAKPOINTS
$xm: 480px;
$sm: 600px;
$md: 840px;
$lg: 960px;
$xl: 1280px;
